 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
 *,*::before,*::after{
    box-sizing: border-box;
 }
 *{
    margin: 0;
 }
 html,body{
    height:100%;
 }
 body{
    line-height: 1.5;
    -webkit-font-smoothing:antialised;
 }
 img,picture,video,canvas,svg{
    display: block;
    max-width: 100%;
 }
 input,button,textarea,select{
    font: inherit;
 }
 p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
 }
 #root,#__next{
    isolation: isolate;
 }
body{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 25px;
    font-family: 'outfit',sans-serif;
    font-weight: 700;
}
img{
    max-width: 100%;
}
main{
    
    display: flex;
    align-items: center;
    place-content: center;
    justify-content: center;
    min-height: 100vh;
    
    background-color:   hsl(212, 45%, 89%);
    
 }
.container{
    
    border: 1px  hsl(0, 0%, 100%) solid;
    
    min-height: 50vh;
    max-width: 700px;
    display: flex;
    align-items: center;
   place-content: center;
   justify-content: center;

    flex-direction: column;
background-color: hsl(0, 0%, 100%) ;
    padding: 20px;
    border-radius: 30px;
    
}

p{
    color: hsl(220, 15%, 55%);
    
}
h1{
    color: hsl(218, 44%, 22%) ;
    
}
 .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }
 @media only screen and ( max-width:375px){
    img{
        max-width: 100%;
    } 
    .container{
    
        
        
    
        display: flex;
        align-items: center;
       place-content: center;
       justify-content: center;
    
        flex-direction: column;
    background-color: hsl(0, 0%, 100%) ;
        padding: 20px;
        border-radius: 30px;
        margin: 20px;
    }
    body{
        box-sizing: border-box;
        
        font-size: 10px;
        font-family: 'outfit',sans-serif;
    
    }
 } 